.profileImage {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0 0 20px rgba(128, 0, 128, 0.5));
    transition: clip-path 0.6s ease-in-out;
    cursor: pointer;
}